[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "asgikit"
version = "0.1.2"
description = "Toolkit for building ASGI applications and libraries"
authors = ["Livio Ribeiro <livioribeiro@outlook.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/livioribeiro/asgikit"
keywords = ["asgi", "toolkit", "asyncio", "web"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
]
packages = [
    { include = "asgikit", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]
uvicorn = { version = "^0.17", extras = ["standard"] }
pytest = "^7.1"
pytest-asyncio = "^0.18"
coverage = { version = "^6.4", extras = ["toml"] }
pylint = "^2.14"
flake8 = "^4.0"
mypy = "^0.961"
isort = "^5.10"
black = "^22.3"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "tests",
]

[tool.coverage.run]
source = ["src/asgikit"]

[tool.pylint.MASTER]
disable = ["C0114", "C0115", "C0116", "R0902", "R0913"]

[tool.mypy]
ignore_missing_imports = true
